# Object files
*.o
*.exe

# Compiled binaries
indexer
mapper

# Sequence files
*.fa
*.fna
*.fastq
*.fna.gz
*.fastq.gz

*.idx
*.sam
*.fmidx

*.fa.*

test
bench-results
*bench-*
!mapper-speed/bench-mn5.sh
reference.bwa*

.DS_Store
